<h1>Shorten a url</h1>

<p>
  <em>Actually the domain name is huge so its more likely that this is a url lengthener.</em>
</p>

<div id="messages">
<%= error_messages_for :short_url, :header_message => nil, :message => nil %>
</div>

<% remote_form_for(@short_url) do |f| %>
  <%= f.text_field :location, :size => 80 %>
  <%= f.submit "shorten &rarr;" %>
<% end %>